{% load static %}
{% load client_version %}
<!DOCTYPE html>
<html class="msgapi">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/fonts/montserrat.css" rel="stylesheet">
        <link href="{% static 'mapstore/dist/themes/geonode.css' %}?{% client_version %}" rel="stylesheet" />
        <title>GeoSATA</title>
        <link rel="shortcut icon" href="{% static 'geonode/img/favicon.ico' %}" />
        {% include './geonode-mapstore-client/snippets/loader_style.html' %}

        {% block custom_theme %}
            {% include './geonode-mapstore-client/snippets/custom_theme.html' %}
        {% endblock %}

        {% block extra_style %}
        {% endblock %}

        {% block extra_head %}
        {% endblock %}
    </head>
    <body class="msgapi ms2" data-ms2-container="ms2">
        <div class="gn-page-wrapper {% if request.user_agent.is_mobile %}gn-mobile{% else %}gn-desktop{% endif %}">
            <div class="gn-theme gn-homepage">
                {% include './geonode-mapstore-client/_geonode_config.html' %}
                {% block header %}
                    {% include './geonode-mapstore-client/snippets/header.html' with show_hero=True %}
                {% endblock %}
    
                {% if request.path == '/' %}
                <section id="showcase" style="margin-top: 40px">
                    <div class="row">
                      <div class="container text-center">
                        <div class="row home-facets">
                          <div class="col-md-4 columnashowcase">
                            <div>
                              <p><a href="/layers/"><i class="fa fa-square-o fa-4x rotate-45" style="transform: rotate(45deg);"></i></a></p>
                              <h2><a href="/layers/">Capas</a></h2>
                              <p>Haz click aqui para ver las capas de datos vectoriales disponibles.</p>
                              </div>
                            <div>
                              <p class="text-center"><a class="btn btn-default" href="/layers/" role="button">Explorar capas »</a></p>
                            </div>
                          </div>
                          <div class="col-md-4 columnashowcase">
                            <div>
                              <p><a href="/maps/"><i class="fa fa-map-marker fa-4x"></i></a></p>
                              <h2><a href="/maps/">Mapas</a></h2>
                              <p>Mapas por tema de interes ambiental. Asimismo los usuarion podran generar, guardar y compartir sus mapas.</p>
                            </div>
                            <div>
                              <p><a class="btn btn-default" href="/maps/" role="button">Explorar mapas »</a></p>
                            </div>
                          </div>
                          <div class="col-md-4 columnashowcase">
                            <div>
                              <p><a href="/documents/"><i class="fa fa-newspaper-o fa-4x"></i></a></p>
                              <h2><a href="/documents/">Documentos</a></h2>
                              <p>Haga click aqui para encontrar documentos, libros y mapas oficiales y creados por los usuarios.</p>
                            </div>
                            <div>
                              <p class="text-center"><a class="btn btn-default" href="/documents/" role="button">Explorar documentos »</a></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                {% else %}
                    {% block content %}
                        {% comment %}
                        <!-- example of content extension -->
                        <div class="gn-container">
                            <div class="gn-content">
                                <!-- My custom content -->
                            </div>
                        </div>
                        {% endcomment %}
                        <div class="gn-container">
                                <div id="gn-home-featured-resources-grid"></div>
                                <div id="gn-home-resources-grid"></div>
                        </div>
                    {% endblock %}
        
                    {% block container %}
                        <div id="ms-container">
                            <div class="gn-main-event-container">
                                <div class="gn-main-event-content">
                                    <div class="gn-main-loader"></div>
                                    <div class="gn-main-event-text"></div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                {% endif %}

                <script>
                    window.addEventListener('mapstore:ready', function(event) {
                        const msAPI = event.detail;
                        msAPI.setPluginsConfig([
                            {
                                name: 'FeaturedResourcesGrid',
                                cfg: {
                                    targetSelector: '#gn-home-featured-resources-grid',
                                    pagePath: '/catalogue/'
                                }
                            },
                            {
                                name: 'ResourcesGrid',
                                cfg: {
                                    targetSelector: '#gn-home-resources-grid',
                                    containerSelector: '#gn-home-resources-grid',
                                    pagination: false,
                                    pagePath: '/catalogue/',
                                    disableFilters: true,
                                    disableDetailPanel: true,
                                    enableGeoNodeCardsMenuItems: true
                                }
                            },
                            {
                                name: 'Si',
                                cfg: {
                                    targetSelector: '#gn-si',
                                    containerSelector: '#gn-si',
                                    pagination: false,
                                    pagePath: '/si',
                                    disableFilters: true,
                                    disableDetailPanel: true,
                                    enableGeoNodeCardsMenuItems: true
                                }
                            },
                            { name: 'SaveAs', cfg: { closeOnSave: true } },
                            { name: 'DeleteResource' },
                            { name: 'DownloadResource' },
                            { name: 'Notifications' }
                        ]);
                    });
                </script>
    
                {% block ms_scripts %}
                    <script id="gn-script" src="{% static 'mapstore/dist/js/gn-components.js' %}?{% client_version %}"></script>
                {% endblock %}
    
                {% block footer %}
                    {% include './geonode-mapstore-client/snippets/footer.html' %}
                {% endblock %}
    
                {% block scripts %}
                    <script src="{% static "lib/js/jquery.min.js" %}"></script>
                    <script src="{% static "lib/js/bootstrap.min.js" %}"></script>
                    <script type="text/javascript">
                        // enable dropdown functionalities
                        $('.dropdown-toggle').dropdown();
                    </script>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
