{% load i18n %}
{% load base_tags %}
{% load markdownify %}

{% if custom_theme.jumbotron_bg and custom_theme.jumbotron_bg.url %}
    <style>
        #gn-hero {
            background-image: url('{{ custom_theme.jumbotron_bg.url }}');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: rgb(156, 156, 156);
            background-blend-mode: multiply;
        }
    </style>
{% endif %}
{% block extra_style %}
{% endblock %}
<div id="gn-hero" class="gn-hero">
    <div class="jumbotron">
        <div class="gn-hero-description">
                <h1>Bienvenidxs a geoSATA</h1>
                <p>Este es el portal del Sistema de Análisis Territorial Ambiental (SATA) (Res. 88/2015) perteneciente al Ministerio de Ambiente de la Provincia de Buenos Aires. Aquí podran encontrar información de base cartográfica, fuentes bibliográficas y vinculación a la legislación que da origen a dicha cartografía. Desde el programa SATA estamos trabajando en coordinación con las dependencias del MAPBA y con otros organismos del Estado para brindar un mejor acceso a la información espacial y para fortalecer las capacidades de la Provincia en el análisis, la prevención y la mitigación de conflictos ambientales. Servicios de Visualización: https://sata.ambiente.gba.gob.ar/geoserver/wms. Servicios de Descarga: https://sata.ambiente.gba.gob.ar/geoserver/wfs</p>
        </div>
        <p class="gn-hero-tools">
        </p>
    </div>
</div>

