{% load i18n %}
{% load base_tags %}
{% load markdownify %}

{% if custom_theme.welcome_theme == 'JUMBOTRON_BG' or not slides %}
{% if custom_theme.jumbotron_bg and custom_theme.jumbotron_bg.url %}
    <style>
        #gn-hero {
            background-image: url('{{ custom_theme.jumbotron_bg.url }}');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: rgb(156, 156, 156);
            background-blend-mode: multiply;
        }
    </style>
{% endif %}
{% block extra_style %}
{% endblock %}
<div id="gn-hero" class="gn-hero">
    <div class="jumbotron">
        <div class="gn-hero-description">
            {% if not custom_theme.jumbotron_welcome_hide %}
                {% with jumbotron_welcome_title=custom_theme.jumbotron_welcome_title|default:"GeoNode"|template_trans %}
                {% endwith %}
                {% with jumbotron_welcome_content=custom_theme.jumbotron_welcome_content|default:"sharing geospatial data and maps."|template_trans %}
                <p>{% trans jumbotron_welcome_content %}</p>
                {% endwith %}
            {% endif %}
        </div>
        <p class="gn-hero-tools">
        </p>
    </div>
</div>
{% else %}
<div class="gn-hero">
    <div class="jumbotron gn-carousel">
        <div id="gn-hero-carousel" style="position: relative" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            {% if slides.count > 1%}
            <ol class="carousel-indicators">
                {% for slide in slides %}
                <li data-target="#gn-hero-carousel" data-slide-to="{{ forloop.counter | add:'-1' }}"
                    class="{% if forloop.counter == 1 %}active{%endif%}"></li>
                {% endfor %}
            </ol>
            {% endif %}
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for slide in slides %}
                <div class="item {% if forloop.counter == 1 %}active{%endif%}">
                    {% if slide.jumbotron_slide_image %}
                    <img src="{{ slide.jumbotron_slide_image_thumbnail.url }}" alt="{{ slide.slide_name }}">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div style="    position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 20%">
            <h1 class="carousel-header" style="text-shadow: 1px 1px 0px black;">GeoSATA</h1>
            <p style="    
            font-size: large;
            text-wrap: balance;
            text-shadow: 1px 1px 0px black;">Bienvenidxs al portal de información ambiental territorial GEOSATA del  Ministerio de Ambiente de la Provincia de Buenos Aires.
                Aquí podrás encontrar información de base cartográfica con su legislación y fuentes bibliográficas correspondientes. Desde el programa SATA  (res. 88/2015) trabajamos en coordinación con las dependencias del MAPBA, y con otros organismos del Estado, para brindar un mayor acceso a la información pública ambiental, aportando a fortalecer las capacidades de la Provincia en el análisis, la prevención y la mitigación de conflictos ambientales. 
                Servicios de Visualización: https://sata.ambiente.gba.gob.ar/geoserver/wms. 
                Servicios de Descarga: https://sata.ambiente.gba.gob.ar/geoserver/wfs
                </p>
        </div>
    </div>
</div>
{% endif %}
