{% load i18n %}
{% load base_tags %}
{% load markdownify %}

{% if custom_theme.jumbotron_bg and custom_theme.jumbotron_bg.url %}
    <style>
        #gn-hero {
            background-image: url('{{ custom_theme.jumbotron_bg.url }}');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: rgb(156, 156, 156);
            background-blend-mode: multiply;
        }
    </style>
{% endif %}
{% block extra_style %}
{% endblock %}
<div id="gn-hero" class="gn-hero">
    <div class="jumbotron">
        <div class="gn-hero-description">
                <h1>{% trans jumbotron_welcome_title %}</h1>
                <p>{% trans jumbotron_welcome_content %}</p>
        </div>
        <p class="gn-hero-tools">
        </p>
    </div>
</div>

